<ion-list style="margin: 0;">

  <button ion-item (click)="call()" mode="md">
    <ion-icon item-start>
      <img src="assets/imgs/172176.svg" />
    </ion-icon>
    <ion-label>{{ 'P_Complaints' | translate }}
      <br/>
    <p style="font-size: 1.1rem;color: #ad5c44">0096265503600</p>
  </ion-label>
  </button>
  <!-- <button ion-item (click)="call1()" mode="md">
    <ion-icon item-start>
      <img src="assets/imgs/172176.svg" />
    </ion-icon>
    <ion-label>{{ 'P_Suggestions' | translate }}</ion-label>
  </button> -->
  <button ion-item (click)="call2()" mode="md">
    <ion-icon item-start>
      <img src="assets/imgs/172176.svg" />
    </ion-icon>
    <ion-label>{{ 'P_hotLine' | translate }} 
    <br/>
    <p style="font-size: 1.1rem;color: #ad5c44">0096264790000</p></ion-label>
  </button>


 </ion-list>
