page-registration {
    // .headerClass{
    //     background-color: rgba(255,255,255, 0.7);;
    //     height: 10% ; 
    //     left: 0;
    //     top: 0;
    //     // position: absolute;
    //     z-index: 10;
    //     display: block;
    //     width: 100%;
    //     overflow: hidden;

    //     padding: 1%;
    //     // opacity: 0.2;

    // }

    //   .headerClass img {
    //     float: right;
    //     width: 55px;
    //     height: 55px;
    //     top: 0;
    //   }
      
    //   .headerClass h2 {
    //     position: relative;
    //     right: 12px;
    //     color: white;
    //   }

    //   .formClass div{
    //       padding-left: 10%;
    //       padding-right: 10%;
    //   }

    //   .formClass div ion-input{
    //     background-color: rgba(255,255,255, 0.7);
    // }

    // .formClass div button{
    //    width: 120px;
    //    background-color: #03235A;
    // }

    
    .button{
      width: 92% !important;
      }

      .div{
        padding-right: 2%;
        padding-left: 2%;
      }

      .item {
        padding-right: 0px; 
        padding-left: 0px;
    }
    .col {
         padding: 2px !important; 
    }
}
