page-change-user {

    .div{
        background-color: #e6e6e6;
        padding-left: 12px;
        padding-right: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }  
    
    .pp{
        margin-top: 3px;
        margin-bottom: 3px;
        color: #ad5c44;
        font-size: calc(1vw + 2.8vmin);
    }

    .col{
        padding: 0px !important;
    }

    .AddButton{
        position: absolute;
        bottom: 3%;
        right: 3%; 
        font-size: 4.2em;;
    }

    .ppp{
        font-size: calc(1vw + 2.8vmin);
    }

    .fontt{
        font-size: calc(1vw + 5vmin);
    }
}
