<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'reg_signUp' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div style="height: 1%">
  </div>

  <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
    <div class="div">
      <ion-row radio-group formControlName="idType">
        <ion-item>
          <ion-label>{{ "Jordan" | translate }}</ion-label>
          <ion-radio value="1" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{ "Non_Jordan" | translate }}</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-row>
      <div class="error-message" *ngIf="(registrationForm.get('idType').errors) && ((registrationForm.get('idType').dirty || registrationForm.get('idType').touched))">
        <div *ngIf="registrationForm.get('idType').hasError('required')">{{ "id_type_required" | translate}}</div>
      </div>
    </div>
    <div class="div">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label *ngIf="registrationForm.get('idType').value == '1'" floating mode="md"> {{ 'reg_ID' | translate }}</ion-label>
            <ion-label *ngIf="registrationForm.get('idType').value == '2'" floating mode="md"> {{ 'id_number' | translate }}</ion-label>
            <ion-input type="tel" formControlName="nationalNumber" maxlength="10"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="(registrationForm.get('nationalNumber').errors) && ((registrationForm.get('nationalNumber').dirty || registrationForm.get('nationalNumber').touched))">
            <div *ngIf="registrationForm.get('nationalNumber').hasError('required')">
                <div *ngIf="registrationForm.get('idType').value == '1'">
                    {{"reg_IDR" | translate}}
                </div>
                <div *ngIf="registrationForm.get('idType').value == '2'">
                    {{"id_number_required" | translate}}
                </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="div">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating mode="md">{{ 'reg_MOB' | translate }}</ion-label>
            <ion-input type="tel" formControlName="mobileNumber" maxlength="15"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="(registrationForm.get('mobileNumber').errors) && ((registrationForm.get('mobileNumber').dirty || registrationForm.get('mobileNumber').touched))">
            <div *ngIf="registrationForm.get('mobileNumber').hasError('required')">{{"reg_MOBR" | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
    </div>


    <div style="margin-top: 5%; text-align: center;">
      <button type="submit" ion-button class="button">
        {{ 'next' | translate }}
      </button>
    </div>
  </form>

</ion-content>