page-start-register {
    .button{
        width: 92% !important;
        }
  
        .div{
          padding-right: 2%;
          padding-left: 2%;
        }
  
        .item {
          padding-right: 0px; 
          padding-left: 0px;
      }
      .col {
           padding: 2px !important; 
      }

      .radio .radio-icon{
        display: block;
    }

    ion-input{
        input{
            text-align: center
        }
    }
}
