page-invoices {
    .div{
        background-color: #e6e6e6;
        padding-left: 12px;
        padding-right: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }  
    
    .pp{
        margin-top: 3px;
        margin-bottom: 3px;
        color: black;
        font-size: calc(1vw + 2.8vmin);

    }

    .ppp{
        margin-top: 3px;
        margin-bottom: 3px;
        color: #ad5c44;
        font-size: calc(1vw + 2.8vmin);

    }

    

    .col{
        padding: 0px !important;
    }

    .colCas{
        padding: 0px !important;
        background-color:#315a68; 
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .roww{
        padding-top: 18px;
        padding-left: 2px;
        padding-right: 2px;
    }

    
}
