tabs-for-payment {
    .tabs .tabbar {
        background: #315a68;
    }

    .tabs .tab-button[aria-selected=true] {
        color:white;
        // background-color: #4A849F ;
        border-bottom-color: #f2f2f2;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }
    .tabs .tab-button {
        color: white;
    }

    
}
